<!DOCTYPE html>
<html lang="ja">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <head>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <title>ツリーにぶらさがった漫画をイッキに読むやつ</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="title-logo-container">
      <img src="/static/img/logo.png" class="title-logo">
    </div>
    <div>
        認証に成功しました。前の画面に戻ってください。
    </div>
  <input type="hidden" name="twicom_token" value="{{ twicom_token }}">
  </body>
</html>