<!DOCTYPE html>
<html lang="ja">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <head>
    <link rel="icon" type="image/x-icon" href="./static/img/favicon.ico">
    <title>ツリーにぶらさがった漫画をイッキに読むやつ</title>
    <link rel="stylesheet" href="./static/css/style.css">
  </head>
  <body>
    <div class="title-logo-container">
      <img src="./static/img/logo.png" class="title-logo">
    </div>
    <div class="error">
      エラー：{{ error }}
    </div>
    <div class="back-to-top">
      <a href="../">
        <img src="./static/img/back_to_top.png" class="back-to-top-img"/>
      </a>
    </div>
  </body>
</html>